
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root {
    --primary-color: rgb(43, 55, 67);
    --secondary-color: rgb(255,255,255);
    --background-color: rgb(33,46,55);
    --font-family: Poppins;
    --font-size: 14px;
    --font-weight: 400;
    --text-color: rgb(85, 84, 84);
}
body{
    background-color: var(--background-color);
}
#nav-bar {
    width: 100%;
    padding:  20px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--secondary-color);
    font-weight: var(--font-weight);
}
#mode{
    font-weight: 200;
    font-size: 16px;
}
#where{
    font-weight: 400;
    font-size: 18px;
}
#search-cont{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 2rem;
    flex-flow: column;

}
#search{
    width: 92%;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 16px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
#dropbtn{
    width: 60%;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 16px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family);
}
#dropdown-content{
    width: 50%;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 18px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family);
    transform: translateX(10%);
    display:  none;
}





li{
font-weight: 400;
font-size: 14px;
margin: 8px;
}
#filtertext{
font-size:14px;
font-weight: 600;
}
#new-cont, #african-cont, #asia-cont,#Europe-cont, #americas-cont{
width: 100%;
display: grid;
grid-template-columns:  1fr;
grid-gap: 10px;
margin-top: .5rem;
}
#cont{
    width: 100%;
    border-radius: 12px;
    margin-top: 2rem;
}
#img-cont{
    width: 100%;
    height: 200px;
    overflow-y: hidden;
    /* background-image: url(design/nigeria.jpg);
    background-size: contain; */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
}
#img-cont img{
width: 100%;
height: 100%;
object-fit: cover;
}

#text-cont{
    padding: 1.2rem;
    background-color: var(--primary-color);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
#text-cont h2{
    color: var(--secondary-color);
    font-family: var(--font-family);
    margin: 12px;
}
#text-cont p{
    color: var(--secondary-color);
    font-family: var(--font-family);
    margin: 12px;
}
@media screen and (min-width:700px){
    #search-cont{
       flex-flow: row;
    }
    #search{
        width: 30%;
    }
    #dropbtn{
        width: 20%;
        transform: translateX(-10%);
    }
    #dropdown-content{
        width: 20%;
        border-radius: 12px;
        border: none;
        outline: none;
        padding: 18px;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        font-family: var(--font-family);
        transform: translateX(396%);
    }
    #cont{
        width: 5%;
       padding: 1rem;
       margin:  1rem;
    }
    #cont img{
        width: 10%;
        height: 5%;
    }
    #new-cont, #african-cont, #asia-cont,#Europe-cont, #americas-cont{
        grid-template-columns:auto auto auto auto ;
        grid-auto-flow: row;
        padding: 2rem;
}

}